<div class="absolute">
  <app-common-modal title="Inventory" [isLockedOut]="false" [showCancel]="false" (onConfirm)="handleInventoryClose()">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      @if(isInventoryEmpty) {
      <div>Your inventory is empty.</div>
      }
      @for(key of currentInventoryKeys; track key;) { @if(currentInventory![key]
      > 0) {
      <app-inventory-item-card [key]="key" [currentInventory]="currentInventory" [canDrop]="canDrop" />
      } }
    </div>
  </app-common-modal>
</div>