<app-main-layout [title]="title">
  <app-container>
    <div class="py-8">
      <app-breadcrumbs [links]="breadcrumbLinks" />

      <!-- if itemStatus is suspended, just display the itemStatus 
    -- otherwise, display  a dropdown -->

      <div class="relative mt-8 flex flex-col gap-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <div>
            <label for="new-game--title" class="block text">Name</label>
            <input
              id="new-game--title"
              type="text"
              [(ngModel)]="game.title"
              (ngModelChange)="validateForm()"
            />
          </div>
          <div>
            <label for="new-game--itemStatus" class="block text">Status</label>
            <select
              id="new-game--itemStatus"
              [(ngModel)]="game.itemStatus"
              (ngModelChange)="validateForm()"
            >
              @if(game.itemStatus === 'suspended' ) {
              <option value="suspended">Suspended</option>
              } @else {
              <option value="active">Active</option>
              <option value="draft">Draft</option>
              <option value="archive">Archive</option>
              }
            </select>
          </div>
        </div>
        <div>
          <label for="new-game--description" class="block text"
            >Description
          </label>
          <textarea
            id="new-game--description"
            [(ngModel)]="game.description"
            (ngModelChange)="validateForm()"
            rows="6"
          ></textarea>
        </div>
        @if (isLoading) {
        <app-loader-animation />
        }
      </div>
      <div class="mt-4 flex justify-end">
        <app-button
          variant="contained"
          label="Save"
          [isDisabled]="isLoading || !isValid"
          (onButtonClick)="handleSaveClick()"
        />
      </div>
      <!-- Save Button -->
    </div>
  </app-container>
</app-main-layout>
