<app-main-layout title="Sound Credits" description="Sounds used in Teeny Quests">
  <app-container>
    <div class="py-8">
      <h2>Three Cheers for Sound Editors</h2>

      <p>
        Special thanks go out to the members of <a href="https://freesound.org/" target="_blank"
          rel="noopener noreferrer">Freesound.org</a> whose sound clips have been used to help bring Teeny Quests
        to life.
      </p>
      <div>
        <ul class="credits-list columns-1 gap-0 md:columns-2 md:gap-4 lg:columns-3 lg:gap-8">

          @for(credit of soundCreditsData; track credit;) {
          <li>
            {{credit}}
          </li>
          }

        </ul>
      </div>
    </div>
  </app-container>

</app-main-layout>