<div [style.width]="width" [style.height]="width" [style.z-index]="position.z"
  class="area-prop {{ isNearPlayer ? 'near-player' : '' }}" [style.bottom]="position.bottom"
  [style.filter]="'brightness(' + (lightLevel * 100) + '%)'" [style.left]="position.left" id="area-prop-{{ prop.id }}">
  @if (prop.propType === 'torch') {
  <app-svg-prop-torch [isPropSelected]="isPropSelected" [isClickable]="isClickable && !isLockedOut"
    [flipH]="prop.wall !== 'north'" [status]="prop.status ?? ''" />
  } @else if (prop.propType === 'switch') {
  <app-svg-prop-switch [isPropSelected]="isPropSelected" [isClickable]="isClickable && !isLockedOut"
    [flipH]="prop.wall !== 'north'" [status]="prop.status ?? ''" />
  } @else if (prop.propType === 'banner') {
  <app-svg-prop-banner [isPropSelected]="isPropSelected" [isClickable]="isClickable && !isLockedOut"
    [flipH]="prop.wall !== 'north'" [status]="prop.status ?? ''" [isTouched]="isTouched" />
  } @if (isPropSelected) {
  <div
    class="absolute top-[15%] {{
      prop.wall === 'north' ? 'left-[53%]' : 'left-[8%]'
    }}  w-[40%] h-[40%] bg-transparent rounded-full z-index-[100] border-4 border-primary border-dashed ring-2 ring-offset-2 ring-offset-primaryDarker ring-primaryDark"
    aria-hidden="true"></div>
  }
  @if (((isNearPlayer && isClickable) || isEditorMode) && !isLockedOut) {
  <button role="button" type="button" [attr.aria-label]="ariaLabel" (click)="handleClick()"
    [disabled]="!isClickable && !isEditorMode" class="absolute top-[15%] {{
      prop.wall === 'north' ? 'left-[53%]' : 'left-[8%]'
    }}  w-[40%] h-[40%] cursor-pointer pointer-events-auto rounded-full focus:outline-none {{isEditorMode
    ? 'ring-0 group-hover:ring-4 focus:ring-4 focus:ring-offset-2 focus:ring-offset-primaryDarker ring-primaryDark '
    : ''}}
    transition-all"></button>
  }
</div>