<app-collapsible-card title="Exits">
  <div>
    <label for="new-item-item-type-selector">Direction</label>
  </div>
  <div>
    <label for="exits-exit-type-selector">Exit Type</label>
    <select
      id="exits-exit-type-selector"
      [(ngModel)]="selectedExitType"
      (change)="validateForm()"
    >
      <option value="" disabled>Select an Item Type</option>
      @for(item of exitTypeOptions; track item.value) {
      <option [value]="item.value">{{ item.label }}</option>
      }
    </select>
  </div>
  <div>
    <label for="new-item-item-type-selector">Position</label>
    <div>1,2</div>
  </div>

  <app-button
    variant="outlined"
    label="Create Item"
    [isDisabled]="!isFormValid"
    (onButtonClick)="handleCreateClick()"
  />

  <!-- Item type selector -->
  <!-- Position Selector -->
  <!-- Button to create item -->
</app-collapsible-card>
