<div
  [style.width]="width"
  [style.height]="width"
  [style.z-index]="position.z + zBumpMap[exit.direction]"
  class="area-exit {{ isNearPlayer ? 'near-player' : '' }}"
  [style.bottom]="position.bottom"
  [style.left]="position.left"
  id="area-exit-{{ exit.id }}"
>
  @if (exit.direction === 'west') {
  <app-svg-exit-default-w
    [isEditorSelected]="isEditorSelected"
    [isClickable]="isClickable && !isLockedOut"
    (onClick)="handleClick()"
    [lock]="exit.lock ?? ''"
  />
  } @else if (exit.direction === 'north') {
  <app-svg-exit-default-n
    [isEditorSelected]="isEditorSelected"
    [isClickable]="isClickable && !isLockedOut"
    (onClick)="handleClick()"
    [lock]="exit.lock ?? ''"
  />
  } @else if (exit.direction === 'south') {
  <app-svg-exit-default-s
    [isEditorSelected]="isEditorSelected"
    [isClickable]="isClickable && !isLockedOut"
    (onClick)="handleClick()"
    [lock]="exit.lock ?? ''"
  />
  } @else if (exit.direction === 'east') {
  <app-svg-exit-default-e
    [isEditorSelected]="isEditorSelected"
    [isClickable]="isClickable && !isLockedOut"
    (onClick)="handleClick()"
    [lock]="exit.lock ?? ''"
  />
  }
</div>
