.angular/
.vscode/
dist/
.build-analytics
.ng-dev.user*
.log
node_modules/
secret.ts
.editorconfig
.DS_Store
*.notes.md
_local-assets/
coverage/

src/config/configConstants.ts
api/lambda.zip
TQ-SharedApiLambda-layer.zip
api/jest_html_reporters.html
api/dist
api/coverage/
