<div
  id="area-cell-{{ cell?.y }}-{{ cell?.x }}"
  class="area-cell {{ isEditorMode ? 'editor-mode' : '' }}"
  [style.bottom]="position.bottom"
  [style.left]="position.left"
  [style.z-index]="isSelected ? 300 : position.z"
  [style.width]="width"
  [style.height]="height"
>
  <!-- WALL LEFT -->
  @if(cell && displayElements.left) {
  <app-textures-wall
    [wallType]="cell.wallSouth"
    wallPosition="l"
    [svgPolygonPoints]="svgPolygonPoints"
    [svgViewBox]="svgViewBox"
  />
  }
  <!-- WALL RIGHT -->
  @if(cell && displayElements.right) {
  <app-textures-wall
    [wallType]="cell.wallEast"
    wallPosition="r"
    [svgPolygonPoints]="svgPolygonPoints"
    [svgViewBox]="svgViewBox"
  />
  }
  <!-- FLOOR -->
  @if(cell && displayElements.top) {
  <app-textures-floor
    [floorType]="cell.floor"
    [isEditorMode]="isEditorMode"
    [positionKey]="positionKey"
    (onClick)="handleClick()"
  />
  @if(showCellPositions) {
  <div
    class="w-full h-full z-[99999] absolute top-left text-gray-900 flex justify-center items-start"
  >
    {{ positionKey }}
  </div>

  } }
</div>
