<app-main-layout title="About Teeny Quests"
  description="Learn more about Teeny Quests, the tiny text adventure game platform.">
  <app-container>
    <div class="py-8">
      <h2>Design quests. Play quests. Go nuts.</h2>
      <p>
        Teeny Quests not so much a "game" but a potentially endless series of games, an application built around a quest
        editor with a great deal of flexibility and room for creative expression. The isometric "engine" (if you want to
        call it that) at the core of the app is capable of rendering environments with verticality and chunky lighting,
        which can add a sense of mystery to your games, not to mention a lot of sneaky spots to hide secrets and
        special items.
      </p>
      <p>
        In future updates, the plan is to add more features and items to enable more complex and engaging questing
        experiences. This may or may not include NPCs and a combat mechanic. The end result should have enough
        flexibility that a quest designer can make a simple adventure puzzler and someone else can make a gritty
        combat-focused game.
      </p>
      <h3>Nerdy Stuff</h3>
      <p>
        Teeny Quests is built in Angular and Typescript with a backend running on a NodeJS Lambda. An early POC was
        written in React, but I rebuilt it in Angular because it amused me to do so.
      </p>
      <p>
        Why make games with tooling and frameworks meant for business applications? Because I can, because there is no
        "right" or
        "wrong" way to make a game, and because I am a big proponent of browser-based games with no barriers to entry.
        And don't get me started on how much value can be found in using games as a means of up-skilling and learning
        new frameworks and patterns. I mean that literally. If you see me at a local coding meetup and ask me about
        this, I will not shut up about it, so it's best not to get me started.

        To have a more detailed look under the hood, check out the <a
          href="https://github.com/markarenz/teeny-quests-angular" target="_blank" rel="noopener noreferrer">full source
          code</a> on GitHub.
      </p>

      <hr class="my-8" />
      <p>
        If you're interested in more nonsense like this, check out <a href="https://ridiculopathy.com/" target="_blank"
          rel="noopener noreferrer">ridiculopathy.com</a> for more unusual projects.
      </p>


    </div>
  </app-container>

</app-main-layout>