<svg
  viewBox="0 0 100 100"
  version="1.1"
  id="svg1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <linearGradient id="linearGradient8">
      <stop
        style="stop-color: #cccccc; stop-opacity: 1"
        offset="0"
        id="stop11"
      />
      <stop
        style="stop-color: #999999; stop-opacity: 1"
        offset="1"
        id="stop13"
      />
    </linearGradient>
    <linearGradient id="linearGradient3">
      <stop
        style="stop-color: #7b7b7b; stop-opacity: 1"
        offset="0"
        id="stop3"
      />
      <stop
        style="stop-color: #5b5b5b; stop-opacity: 1"
        offset="1"
        id="stop4"
      />
    </linearGradient>
    <linearGradient id="linearGradient12">
      <stop
        style="stop-color: #f3bf11; stop-opacity: 1"
        offset="0.16369711"
        id="stop12"
      />
      <stop
        style="stop-color: #e8e3a3; stop-opacity: 1"
        offset="0.8040089"
        id="stop14"
      />
    </linearGradient>
    <linearGradient id="linearGradient7">
      <stop
        style="stop-color: #bababa; stop-opacity: 1"
        offset="0.11692651"
        id="stop8"
      />
      <stop
        style="stop-color: #ffffff; stop-opacity: 1"
        offset="0.5066815"
        id="stop10"
      />
      <stop
        style="stop-color: #bababa; stop-opacity: 1"
        offset="0.89643651"
        id="stop9"
      />
    </linearGradient>
    <linearGradient id="linearGradient5">
      <stop
        style="stop-color: #bfbfbf; stop-opacity: 1"
        offset="0.08463254"
        id="stop5"
      />
      <stop
        style="stop-color: #f1f1f1; stop-opacity: 1"
        offset="0.52951008"
        id="stop7"
      />
      <stop
        style="stop-color: #c0c0c0; stop-opacity: 1"
        offset="0.94320714"
        id="stop6"
      />
    </linearGradient>
    <linearGradient
      xlink:href="#linearGradient5"
      id="linearGradient6"
      x1="25"
      y1="40"
      x2="90"
      y2="65"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient7"
      id="linearGradient9"
      x1="15"
      y1="30"
      x2="87.272346"
      y2="70.144279"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient13"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient13-6"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient13-8"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient15-5"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient13-89"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient15-04"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient13-8-2"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient15-5-4"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient16"
      gradientUnits="userSpaceOnUse"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient17"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#linearGradient12"
      id="linearGradient18"
      gradientUnits="userSpaceOnUse"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
    />
    <linearGradient
      xlink:href="#linearGradient3"
      id="linearGradient4"
      x1="50"
      y1="63.309689"
      x2="50"
      y2="38.309689"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#linearGradient8"
      id="linearGradient14"
      x1="50"
      y1="25"
      x2="50"
      y2="35"
      gradientUnits="userSpaceOnUse"
    />
  </defs>
  <g id="layer3">
    <ellipse
      style="
        fill: url(#linearGradient14);
        fill-opacity: 1;
        stroke-width: 0;
        stroke-linecap: square;
        paint-order: stroke fill markers;
      "
      id="path4"
      cx="50"
      cy="30.071869"
      rx="10"
      ry="12.5"
    />
    <path
      id="rect1"
      style="
        fill: url(#linearGradient4);
        fill-opacity: 1;
        stroke-width: 0;
        stroke-linecap: square;
        paint-order: stroke fill markers;
      "
      d="m 44.761719,25 c 0,0 -7.187296,25.000015 -14.761719,40 9.050706,5.430424 15.48014,6.9291 20,6.630859 C 54.51986,71.9291 60.949294,70.430424 70,65 62.425577,50.000015 55.238281,25 55.238281,25 H 50 Z"
      transform="translate(0,11.690311)"
    />
    <path
      style="
        fill: #5b5b5b;
        fill-opacity: 1;
        stroke-width: 0;
        stroke-linecap: square;
        paint-order: stroke fill markers;
      "
      d="m 38,33.941667 c 0,0 5.999999,1.999999 12,1.999999 5.999998,0 12,-1.999999 12,-1.999999 0,0 -5.000001,11.567636 -12,11.283818 C 43.000001,44.941666 38,33.941667 38,33.941667 Z"
      id="path6"
    />
  </g>
</svg>
