<div class="absolute">
  <app-common-modal [title]="gameModalStatus === 'intro' ? title : 'Teeny Quests'" [isLockedOut]="isLoading"
    (onConfirm)="handleConfirmClick()" (onClose)="handleCloseClick()">
    @if(isLoading) {
    <app-loader-animation />
    } @else if(gameModalStatus === 'help') {
    <app-content-game-help />
    } @else if(gameModalStatus === 'intro') {
    <div class="flex flex-col gap-2">
      <h2 class="text-2xl">Goals: <span class="font-primary font-normal">{{ levelGoals }}</span></h2>
    </div>
    }
  </app-common-modal>
</div>