.default {
  &.wall-position-l {
    .bgRect {
      fill: #999;
    }
    .brick {
      stroke: #888;
    }
  }
  &.wall-position-r {
    .bgRect {
      fill: #888;
    }
    .brick {
      stroke: #777;
    }
  }
}

.dark-stone {
  &.wall-position-l {
    .bgRect {
      fill: #444;
    }
    .brick {
      stroke: #666;
    }
  }
  &.wall-position-r {
    .bgRect {
      fill: #333;
    }
    .brick {
      stroke: #555;
    }
  }
}

.brick {
  stroke-width: 2;
}

.cave {
  .crack-light,
  .crack-dark {
    fill: none;
    stroke-width: 1;
    stroke-linecap: round;
  }
  &.wall-position-l {
    .bgRect {
      fill: #493727;
    }
    .crack-light {
      stroke: #695035;
    }
    .crack-dark {
      stroke: #241607;
    }
  }
  &.wall-position-r {
    .bgRect {
      fill: #3d2b1c;
    }
    .crack-light {
      stroke: #5b442c;
    }
    .crack-dark {
      stroke: #180e03;
    }
  }
}
