<header
  class="bg-gray-700 color-gray-300 border-b-2 border-gray-400 shadow-lg py-2"
>
  <app-container>
    <div class="flex flex-row items-center gap-6">
      <div class="flex flex-row items-center gap-6">
        <div class="block h-12 w-24 bg-blue-400">
          <a
            class="block h-full w-full"
            routerLink="/"
            ariaCurrentWhenActive="page"
          >
            <app-svg-mini-logo theme="color" />
          </a>
        </div>
      </div>
      <div class="grow">
        <h1 class="text-2xl text-1-line-max">{{ title }}</h1>
      </div>
      <div>
        <div>
          <app-login />
        </div>
      </div>
      <div>
        <button
          role="button"
          (click)="handleToggleMenu()"
          class="flex w-12 h-12 justify-center items-center group hover:bg-gray-400/50 toggle-root transition-colors duration-500"
          aria-label="Toggle Menu"
        >
          <app-menu-toggle />
        </button>
      </div>
    </div>
  </app-container>
</header>
