<app-collapsible-card title="Events" [isCollapsible]="false" [showNewButton]="true"
  (onNewButtonClick)="handleCreateClick()">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        @if(events.length < 1) { <div>No events.</div>
      } @for(event of events; track event.id; let idx = $index) {
      <div class="rounded-md flex flex-row items-center p-2 {{
            selectedEventId === event.id ? 'bg-green-900' : 'bg-gray-800'
          }}">
        <div class="flex-grow">
          {{event.name}}
        </div>
        <div class="flex flex-row gap-2">
          <app-icon-button icon="edit" label="Edit Event" (click)="handleEditClick(event.id)" />
          <app-icon-button icon="delete" theme="danger" label="Delete Exit" (click)="handleDeleteClick(event.id)" />
        </div>
      </div>
      }
    </div>
  </div>
  @if (selectedEventId && selectedEvent) {
  <div class="flex flex-col gap-4">
    <div>
      <label for="event-name-input">Event Name</label>
      <input id="event-name-input" [(ngModel)]="inputEventName" type="text" maxlength="100" class="text-input"
        (change)="handleEventInputChange()" />
    </div>
    <div>
      <label for="event-unidirectional-checkbox">
        <input id="event-unidirectional-checkbox" type="checkbox" [(ngModel)]="inputEventIsUnidirectional"
          (change)="handleEventInputChange()" />
        Run only once
      </label>
    </div>
    <div>
      <div class="flex flex-col gap-4">
        <app-editor-input-conditions [conditions]="selectedEvent.conditions"
          (onConditionsChange)="handleEventConditionInputChange($event)" title="Conditions" />
      </div>
    </div>
    <div>
      <div class="flex flex-col gap-4">
        <app-editor-input-actions [actions]="selectedEvent.actions"
          (onActionsChange)="handleEventActionInputChange($event)" title="Actions" selectedAreaId="na" />
      </div>
    </div>
  </div>
  }
  </div>
</app-collapsible-card>