.game-end-root {
  z-index: 250;
  max-width: 100vw;
  overflow: hidden;
  .game-end-bg {
    background-color: var(--color-gray-900);
    animation: fadeIn 1s ease-out forwards;
    opacity: 0.75;
  }
  h2 {
    animation: fadeInExpended 1s ease-out forwards;
    opacity: 1;
    letter-spacing: 0;
    max-width: 100vw;
    overflow: hidden;
    white-space: nowrap;
  }
  .button-wrap {
    animation: fadeIn 1s ease-out forwards;
  }
}

@keyframes fadeInExpended {
  0% {
    opacity: 0;
    letter-spacing: 30px;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.75;
  }
}
