<app-collapsible-card
  title="Panels and Decor"
  [isCollapsible]="false"
  [showNewButton]="true"
  (onNewButtonClick)="handleCreateClick()"
>
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <div class="flex flex-col gap-4">
        @if(panels.length < 1) {
        <div>No panels or decor.</div>
        } @for(panelDeco of panels; track panelDeco.id; let idx = $index) {
        <div
          class="rounded-md flex flex-row items-center p-2 {{
            selectedPanelId === panelDeco.id ? 'bg-green-900' : 'bg-gray-800'
          }}"
        >
          <div class="flex-grow">
            Panel #{{ idx + 1 }} - X:{{ panelDeco.x }}, Y:{{ panelDeco.y }},
            Type:{{ panelDeco.panelDecoType }}
          </div>
          <div class="flex flex-row gap-2">
            <app-icon-button
              icon="edit"
              label="Edit Panel"
              (click)="handleEditClick(panelDeco.id)"
            />
            <app-icon-button
              icon="delete"
              theme="danger"
              label="Delete Exit"
              (click)="handleDeleteClick(panelDeco.id)"
            />
          </div>
        </div>
        }
      </div>
    </div>
    @if (selectedPanelId) {
    <div class="flex flex-col gap-4">
      <div>
        <label>Position: </label>
        <app-area-cell-selector
          id="editor-cell-selector"
          [selectedCellPosition]="inputPanelPosition"
          (onPositionSelect)="handlePositionSelect($event)"
          [lockouts]="lockouts"
        />
      </div>
      <div>
        <label for="panel-type-selector">Panel Type</label>
        <select
          id="panel-type-selector"
          [(ngModel)]="inputPanelType"
          (change)="handlePanelInputChange()"
        >
          @for(item of panelTypeOptions; track item.value) {
          <option [value]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>
      <div>
        <label for="panel-wall-selector">Wall</label>
        <select
          id="panel-wall-selector"
          [(ngModel)]="inputPanelWall"
          (change)="handlePanelInputChange()"
        >
          @for(item of panelWallOptions; track item.value) {
          <option [value]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>
      @if (canSetHeight) {
      <div>
        <label for="panel-height-selector">Height</label>
        <select
          id="panel-helight-selector"
          [(ngModel)]="inputPanelHeight"
          (change)="handlePanelInputChange()"
        >
          @for(item of panelHeightOptions; track item.value) {
          <option [value]="item.value">{{ item.label }}</option>
          }
        </select>
      </div>
      }
    </div>
    }
  </div>
</app-collapsible-card>
