<div
  class="absolute bottom-0 right-0 p-4 rounded-lg bg-gray-300 border-2 border-gray-800 text-gray-900 {{
    showModal ? 'block' : 'hidden'
  }}"
>
  @if(selectedCell){
  <div class="flex flex-row gap-4">
    @for(item of buttons; track item.direction) {
    <button
      class="height-button"
      (click)="handleCellHeightChange(item.direction)"
      [disabled]="
        item.direction === 'up' ? selectedCell.h > 5 : selectedCell.h < 1
      "
      [attr.aria-label]="item.label"
    >
      <svg
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/"
        class="{{ item.direction === 'down' ? 'rotate-180' : null }}"
      >
        <polygon
          fill="var(--color-gray-200)"
          stroke="none"
          points="12 5 3 15 9 15 9 19 15 19 15 15 21 15 12 5"
        />
      </svg>
    </button>

    }
  </div>
  }
  <div class="text-center">
    {{ selectedCell?.h }}
  </div>

  <!-- Floor
  Wall: N
  Wall: S
  Wall: W
  Wall: W -->
</div>
