<div
  [style.width]="width"
  [style.height]="width"
  [style.z-index]="isNearPlayer && !isLockedOut ? 98 : positionStyle.z"
  class="area-item group {{
    isNearPlayer && !isLockedOut ? 'near-player' : ''
  }} {{ shouldDisplauHighlightBelow ? 'highlight-below' : '' }}"
  [style.bottom]="positionStyle.bottom"
  [style.left]="positionStyle.left"
>
  <div
    aria-hidden="=true"
    class="highlighted-object {{
      isNearPlayer && !isLockedOut ? 'active-highlight' : ''
    }}"
  ></div>
  @if (item.itemType === 'key-silver') {
  <app-svg-item-key />
  } @else if (item.itemType === 'coins-25') {
  <app-svg-item-coins />
  } @if (isEditorSelected) {
  <div
    class="absolute top-[45%] left-[30%] w-[40%] h-[40%] bg-transparent rounded-full z-index-[100] border-4 border-primary border-dashed ring-2 ring-offset-2 ring-offset-primaryDarker ring-primaryDark"
    aria-hidden="true"
  ></div>
  } @if (isNearPlayer && !isLockedOut) {
  <button
    role="button"
    type="button"
    [attr.aria-label]="ariaLabel"
    (click)="handleClick()"
    [disabled]="!isClickable"
    class="absolute top-[45%] left-[30%] w-[40%] h-[40%] cursor-pointer pointer-events-auto rounded-full focus:outline-none ring-0 group-hover:ring-4 focus:ring-4 focus:ring-offset-2 focus:ring-offset-primaryDarker ring-primaryDark transition-all"
    [style.z-index]="positionStyle.z + 10"
  ></button>
  }
</div>
