<div
  [style.width]="width"
  [style.height]="width"
  [style.z-index]="positionStyle.z"
  class="area-item"
  [style.bottom]="positionStyle.bottom"
  [style.left]="positionStyle.left"
>
  @if (item.itemType === 'key-silver') {
  <app-svg-item-key />
  } @else if (item.itemType === 'coins-25') {
  <app-svg-item-coins />
  } @if (isEditorSelected) {
  <div
    class="absolute top-[45%] left-[25%] w-[50%] h-[50%] bg-transparent rounded-full z-index-[100] border-4 border-red-600"
    aria-hidden="true"
  ></div>
  } @if (isClickable) {
  <button
    role="button"
    type="button"
    [attr.aria-label]="ariaLabel"
    (click)="handleClick()"
    class="absolute top-[45%] left-[25%] w-[50%] h-[50%] cursor-pointer pointer-events-auto rounded-full"
    [style.z-index]="positionStyle.z + 10"
  ></button>
  }
</div>
