.bg {
  fill: #704d2f;
}
.rock1 {
  fill: #4b2b06;
}
.rock2 {
  fill: #9a7247;
}

.editor-mode {
  cursor: pointer;
  &.selected,
  &:hover {
    stroke: var(--color-primary);
    stroke-width: 4px;
    z-index: 100;
  }
}
