<div class="area-editor-stage">
  <div
    id="area-editor-bg-click-catcher"
    (click)="handleBackgroundClick()"
    class="absolute top-0 left-0 w-full h-full"
    aria-hidden="true"
  ></div>
  <svg
    viewBox="0 0 100 50"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:svg="http://www.w3.org/2000/svg"
    class="stage-base"
    (click)="handleBackgroundClick()"
  >
    <g id="outer-ring">
      <path class="outline" d="M 50.000003,0 100,25 50.000003,50 0,25 Z" />
      <path class="inner" d="M 50.000003,0.5 99,25 50.000003,49.5 1,25 Z" />
    </g>
  </svg>

  @if(selectedAreaMap) {
  <div>
    @for(positionKey of areaDataPositionKeys; track positionKey;) {
    <app-area-cell
      [positionKey]="positionKey"
      [cellData]="selectedAreaMap[positionKey]"
      [selectedAreaCellPosition]="selectedAreaCellPosition"
    />
    }

    <div
      class="absolute top-0 left-0 w-full h-full bg-gray-800/50 pointer-events-none	z-[80] {{
        anyCellSelected ? 'block' : 'hidden'
      }}"
    ></div>

    <!-- Area Items -->
    @for(item of selectedAreaItems; track item.id;) {
    <app-area-item [item]="item" />
    }

    <app-editor-player-position [playerPosition]="playerPosition" />

    <!-- Area Exits -->
    @for(exit of selectedAreaExits; track exit.id;) {
    <app-area-exit [exit]="exit" />
    }
  </div>
  }
</div>
