<app-main-layout [title]="title">
  <app-container>
    <div class="mt-8 pb-8">
      <div class="max-w-3xl mx-auto">
        <app-logo-main />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8">
        @if (games.length > 0) { @for (game of games; track game.id) {
        <a routerLink="/game/{{ game.id }}" class="group rounded-md">
          <app-game-link-card
            [title]="game.title"
            [username]="game.username"
            [description]="game.description"
            [isSkeleton]="false"
          />
        </a>
        } } @else { @for (skeleton of skeletons; track skeletons) {
        <div
          class="flex flex-col gap-4 bg-gray-600 rounded-md group-hover:bg-gray-700 transition-colors border-2 border-gray-500 group-hover:border-gray-300"
        >
          <app-game-link-card [isSkeleton]="true" />
        </div>
        } }
      </div>
    </div>
  </app-container>
</app-main-layout>
