.home-logo-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.bg-maze-gradient {
  background: linear-gradient(
    0deg,
    rgba(17, 17, 19, 1) 0%,
    rgba(78, 79, 89, 1) 100%
  );
}
.bg-maze {
  opacity: 0.25;
  background-image: url('data:image/svg+xml,<svg version="1.0" viewBox="0 0 290.90909 290.90909" preserveAspectRatio="xMidYMid" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" ><path d="M 0,0 V 9.7084043 H 9.8153051 V 48.540518 H 19.523709 V 9.7084043 H 136.01855 V 0 Z m 145.72845,0 v 9.7084043 h 38.83062 V 58.247419 h -9.70841 V 38.832114 h -19.4153 v -9.708405 h 19.4153 v -9.708404 h -29.12221 v 9.708404 9.708405 h -38.83211 v 9.708404 h 58.24742 v 48.539015 h -38.83211 v 38.832117 h -14.56111 -14.5626 v -29.12371 h 9.7084 v 19.4153 h 9.7069 V 97.079533 H 87.479533 58.355823 V 48.540518 H 77.771128 V 38.832114 H 48.647419 v 67.955826 h 19.415305 19.416809 v 38.83061 h 24.271007 24.26801 v -38.83061 h 29.12521 v 19.4153 h 9.7069 v -19.4153 h 38.83362 v -9.708407 h -38.83362 v -29.12371 h 19.41681 V 48.540518 h 29.12371 v 19.415305 h 9.7084 V 38.832114 H 194.26747 V 9.7084043 h 96.64162 V 0 Z M 29.232114,19.415305 V 58.247419 H 0 v 9.708404 H 29.232114 V 116.49634 H 9.8153051 v 29.12221 h 9.7084039 v -19.41531 h 9.708405 v 29.12521 H 0 v 9.70691 h 38.940518 v -38.83212 h 9.706901 v 48.54052 H 9.8153051 l -0.011669,38.84169 H 0 v 9.68727 h 9.8036363 l 0.011669,19.42686 H 38.940518 v -9.7084 H 19.523709 V 203.86747 H 58.355823 97.18794 v -9.7084 H 77.771128 v -29.12371 h 33.979412 33.97791 v 29.12371 h -19.4168 v 9.7084 h 19.4168 v 19.41681 h 19.41531 v 19.4153 h 9.7069 v -29.12371 h -19.4153 v -67.95732 h 48.54051 v 29.12521 h -19.4168 v 9.7069 h 29.12521 v -58.24742 h 48.53901 v 29.12521 h -19.41681 v 9.70691 l 48.10261,-0.003 v -9.71637 h -18.96727 v -29.11963 h 18.96727 v -9.68727 l -38.3942,-0.0131 V 19.415305 h -48.53902 v 9.708404 h 38.83061 v 48.539015 h -29.1222 V 58.247419 h -9.70841 v 19.415305 h -19.4168 v 9.708404 h 38.83211 v 19.416812 h 9.7084 V 87.371128 h 9.7069 v 29.125212 h -58.24741 v 9.7069 h 19.4168 v 9.70841 h -48.54051 v -19.41531 h -9.70691 v 38.83211 H 111.75054 77.771128 v -38.83211 h -9.708404 v 38.83211 38.83062 H 19.523709 v -9.70841 H 58.355823 V 116.49634 H 38.940518 V 72.810025 29.123709 h 48.539015 v 29.12371 H 68.062724 V 87.371128 H 155.43536 V 58.247419 h -48.53902 v 9.708404 h 38.83211 v 9.706901 H 77.771128 V 67.955823 H 97.18794 V 29.123709 h 38.83061 v -9.708404 z m 232.991176,0 v 87.372635 h 28.6858 V 58.239999 h -9.71637 V 97.079533 H 271.9317 L 271.94182,29.12 h 18.96727 V 19.403636 Z M 9.8036363,97.076363 H -0.03369131 L 0,106.78794 h 19.523709 l -0.0037,-9.711577 0.0037,-19.413639 -9.7200727,0.01 z M 223.39118,135.91165 v 58.24742 h -48.54052 v -29.12371 h 19.41681 v -9.70691 h -29.12371 v 48.53902 h 19.41531 v 48.53901 h -29.12371 v -19.4153 h -19.41681 v -19.41531 h -19.41531 v -29.12521 h 19.41531 v -9.7069 H 111.75054 87.479533 v 9.7069 h 19.416807 v 29.12521 H 29.232114 v 9.70841 h 19.415305 v 29.1222 L 0,252.3967 v 9.70841 h 9.8153051 v 19.42659 h 9.7084039 v -19.41681 h 38.832114 v -38.83061 h 67.955827 v 19.4153 h 19.4168 v 9.7069 9.70841 h 38.83062 v 9.7084 h -48.54052 v -19.41681 h -9.7069 v 29.12522 h 67.95582 v -77.66423 h 38.83211 v -19.41681 h 29.12371 v 48.54052 h -9.7084 v -38.83211 h -9.70841 v 19.4168 h -38.83061 v 9.70841 h 38.83061 v 19.4153 l 48.10261,0.006 0.004,-9.71636 H 271.9317 v -9.7165 h 18.97739 v -48.52363 h -9.71637 v 38.83636 h -9.55846 l 0.29744,-38.84156 h -38.83212 v -29.12521 h 19.41531 v -9.7069 z M 68.062724,232.99118 v 38.83211 h -38.83061 v 9.70841 h 48.539014 v -38.83212 h 29.125212 v 48.20979 h 9.7069 v -57.91819 z m 135.913146,0 v 48.54052 h 9.70841 v -38.83212 h 9.7069 v 19.41531 h 38.83211 v 19.41681 h 9.70841 v -19.41681 h 18.97739 v -9.70841 h -57.80951 v -19.4153 z m -116.496337,19.4153 v 38.50289 h 9.708407 v -38.50289 z m 135.911647,19.41681 v 19.08608 h 9.7084 v -9.37767 h 19.41531 v -9.70841 z" /></svg>');
  background-repeat: repeat;
  background-size: 300px;
  /* @media screen and (min-width: 500px) {
    background-size: 400px;
  } */
  /* @media screen and (min-width: 768px) {
  background-size: 600px;
  } */
  animation: maze-loop 10s infinite linear;
}

@keyframes maze-loop {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300px 0;
    /* @media screen and (max-width: 499px) {
      background-position: -300px 0;
    }
    @media screen and (min-width: 500px) {
      background-position: -400px 0;
    }
    @media screen and (min-width: 768px) {
      background-position: -600px 0;
    } */
  }
}
