.player-position {
  position: absolute;
  pointer-events: none;

  transform: translate(0, 0);
  transition: 0.05s all linear;
}

:host-context(.game-ended) .player-position {
  transition-duration: 1s;
  bottom: 80% !important;
  opacity: 0 !important;
}

.player-position-inner {
  transition: 0.25s transform ease-in-out;
}

.exit-direction-north {
  transform: translate(15%, -8%);
}

.exit-direction-south {
  transform: translate(-15%, 8%);
}

.exit-direction-east {
  transform: translate(15%, 8%);
}

.exit-direction-west {
  transform: translate(-15%, -8%);
}
