<div
  id="area-cell-{{ cell?.y }}-{{ cell?.x }}"
  class="area-cell"
  [style.bottom]="position.bottom"
  [style.left]="position.left"
  [style.z-index]="isSelected ? 300 : position.z"
  [style.width]="width"
  [style.height]="height"
>
  <!-- WALL LEFT -->
  @if(cell && displayElements.left) {
  <app-textures-wall
    [wallType]="cell.wallSouth"
    wallPosition="l"
    [svgPolygonPoints]="svgPolygonPoints"
    [svgViewBox]="svgViewBox"
  />
  }
  <!-- WALL RIGHT -->
  @if(cell && displayElements.right) {
  <app-textures-wall
    [wallType]="cell.wallEast"
    wallPosition="r"
    [svgPolygonPoints]="svgPolygonPoints"
    [svgViewBox]="svgViewBox"
  />
  }
  <!-- FLOOR -->
  @if(cell && displayElements.top) {
  <app-textures-floor [floorType]="cell.floor" />
  }
</div>
