@if (isMenuOpen) {
<div
  class="nav-root fixed top-0 left-0 w-screen h-scren {{
    isMenuOpen ? 'menuOpen' : null
  }}"
>
  <button
    data-testid="user-menu-underlay"
    aria-hidden="true"
    role="button"
    (click)="handleLinkClick()"
    class="under-menu fixed left-0 top-0 w-screen h-screen bg-gray-800/75 z-1"
  ></button>

  <app-container>
    <nav
      class="py-12 w-full h-screen flex items-center justify-center text-gray-100"
    >
      <ul class="flex flex-col text-center">
        @for (menuItem of menuItems; track menuItem.id) {
        <li>
          <a
            class="nav-link py-3 px-3 block scale-100 hover:scale-110 transition-transform"
            routerLink="{{ menuItem.href }}"
            routerLinkActive="active"
            tabindex="{{ isMenuOpen ? 0 : -1 }}"
            [routerLinkActiveOptions]="{ exact: true }"
            ariaCurrentWhenActive="page"
            (click)="handleLinkClick()"
          >
            <span>
              {{ menuItem.label }}
            </span>
          </a>
        </li>
        }
      </ul>
    </nav>
  </app-container>
</div>

}
