<svg class="map-cell-decal" viewBox="0 0 100 50" version="1.1" id="svg1" xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg">
  @if(decalType === 'overlapping-circles') {
  <g transform="translate(1.9073486e-6,-50)">
    <ellipse
      style="fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.50559;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
      id="path28" cx="34.124996" cy="75" rx="19.247208" ry="9.2472067" />
    <ellipse
      style="fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.50559;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
      id="path28-4" cx="65.875" cy="75" rx="19.247208" ry="9.2472067" />
    <ellipse
      style="fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.50559;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
      id="path28-4-9" cx="50" cy="68" rx="19.247208" ry="9.2472067" />
    <ellipse
      style="fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.50559;stroke-linecap:square;stroke-linejoin:miter;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
      id="path28-4-9-9" cx="50" cy="82" rx="19.247208" ry="9.2472067" />
  </g>
  } @else if (decalType ==='diamonds') {
  <g transform="translate(0.11419982,0.28986382)">
    <path id="rect2-0-7-5"
      style="font-variation-settings:normal;display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000;stop-opacity:1"
      d="M 26.4271,16.189184 44.048719,24.999999 26.427096,33.810816 8.8054778,25.000003 Z"
      transform="translate(0,-0.28986379)" />
    <path id="rect2-0-7-5-2"
      style="font-variation-settings:normal;display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000;stop-opacity:1"
      d="M 73.344502,16.189184 90.966121,24.999999 73.344498,33.810816 55.72288,25.000003 Z"
      transform="translate(0,-0.28986379)" />
    <path id="rect2-0-7-5-2-6"
      style="font-variation-settings:normal;display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000;stop-opacity:1"
      d="M 50.000001,27.872608 67.62162,36.683423 49.999997,45.49424 32.37838,36.683427 Z"
      transform="translate(-0.11420065)" />
    <path id="rect2-0-7-5-2-6-8"
      style="font-variation-settings:normal;display:inline;opacity:1;fill:none;fill-opacity:1;stroke:#a4a4a4;stroke-width:1.5;stroke-linecap:square;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;paint-order:stroke fill markers;stop-color:#000000;stop-opacity:1"
      d="M 50.000001,3.9260324 67.62162,12.736847 49.999997,21.547664 32.37838,12.736851 Z"
      transform="translate(-0.11420065)" />
  </g>
  }
</svg>