@if(!isFlat) {
<app-svg-shadow></app-svg-shadow>
}
<svg viewBox="0 0 100 100" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg" class="{{isFlat ? 'flat' : 'isometric'}} {{ variant }}">
  <defs>

  </defs>
  <g>
    <path
      style="fill:#0f6f05;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 40.145836,76.041664 -5.000001,-5 -2e-6,-45.000001 5,-5 h 20 l 5.000001,5 1e-6,45.000001 -5,5 z"
      id="path93" />
    <path
      style="fill:#76ca76;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 60.145835,76.041664 -2e-6,5 10.000001,-10 h -4.999999 z" id="path94" />
    <path
      style="fill:#439a3e;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 70.145833,71.041664 v -45 h -4.999998 v 45 z" id="path95" />
    <path
      style="fill:#adccb1;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 65.145835,26.215156 h 4.999998 L 60.145835,15.86817 v 5.346986 z" id="path96" />
    <path
      style="fill:#e8f8e9;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 60.145831,21.041664 V 16.041663 H 40.145836 v 5.000001 z" id="path97" />
    <path
      style="fill:#68af64;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 40.145836,16.041663 30.059332,26.041664 h 5.086503 l 5.000001,-5 z" id="path98" />
    <path
      style="fill:#298421;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 35.145835,26.041664 v 45 h -5 v -45 z" id="path99" />
    <path
      style="fill:#469635;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 40.145836,76.041664 v 5 l -10.000001,-10 h 5 z" id="path100" />
    <path
      style="fill:#60be66;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 60.145833,81.041664 v -5 H 40.145836 v 5 z" id="path101" />
    <path
      style="fill:#399f45;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 70.145833,71.041664 h 10.000001 l -20,20.000002 10e-7,-10.000002 z" id="path102" />
    <path
      style="fill:#2e8329;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 80.145834,71.041664 v -45 H 70.145833 v 45 z" id="path103" />
    <path
      style="fill:#0a5904;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 80.145833,26.041663 60.145834,6.0416644 v 9.9999976 l 9.999998,10.000001 z" id="path104" />
    <path
      style="fill:#007e05;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 60.145831,6.0416664 H 40.145836 v 9.9999976 h 19.999995 z" id="path105" />
    <path
      style="fill:#1b6a18;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 40.145836,6.0416654 20.145834,26.041664 h 10.000003 l 9.999999,-10.000001 z" id="path106" />
    <path
      style="fill:#0d5d0c;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 30.145835,26.041664 H 20.145834 v 45 h 10.000001 z" id="path107" />
    <path
      style="fill:#0f4c13;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 40.145836,81.041664 V 91.041666 L 20.145834,71.041664 h 10.000001 z" id="path108" />
    <path
      style="fill:#0b6a11;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 60.145833,81.041664 H 40.145836 v 10.000002 h 19.999997 z" id="path109" />
  </g>

</svg>