.game-area-stage {
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  position: relative;

  /* MOBILE */
  max-width: none;
  width: 200vw;
  height: 200vw;
  left: 0;
  bottom: 0;

  @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;
    max-width: 90vh;
    max-height: 90vh;
    left: 0;
    bottom: 0;
  }

  :host-context(.full-width) & {
    max-width: none;
    position: absolute;
    width: 100vw;
    height: 100vw;
    bottom: 0;
    transition: bottom 0.5s ease-in-out;
    &.cut {
      transition: none;
    }
  }

  .stage-base {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2 / 1;
    path {
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-dasharray: none;
      stroke-opacity: 1;
    }
    path.outline {
      stroke: none;
      stroke-width: 0;
      fill: var(--color-gray-700);
    }
    path.inner {
      stroke: none;
      stroke-width: 0;
      fill: var(--color-gray-900);
    }
  }
}
