<div class="game-area-stage">
  <svg viewBox="0 0 100 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"
    class="stage-base">
    <g id="outer-ring">
      <path class="inner" d="M 50,0.5 99,25 50,49.5 1,25 Z" />
    </g>
  </svg>

  @if(areaMap) {
  <div>
    @for(positionKey of areaDataPositionKeys; track positionKey;) {
    <app-area-cell [positionKey]="positionKey" [cellData]="areaMap[positionKey]"
      [lightLevel]="areaLightMap[positionKey]" />
    }

    <!-- Area Items -->
    @for(item of areaItems; track item.id;) {
    <app-area-item [item]="item" [isNearPlayer]="getIsNearPlayer(item.x, item.y)" [isLockedOut]="isLockedOut"
      (onClick)="handleItemClick(item.id)" />
    }

    <!-- Area PanelDeco -->
    @for(prop of areaProps; track prop.id;) {
    <app-area-prop [prop]="prop" [isClickable]="false" (onClick)="handlePropClick(prop.id)"
      [isNearPlayer]="getIsNearPlayer(prop.x, prop.y)" [isLockedOut]="isLockedOut" />
    }

    <!-- Area Exits -->
    @for(exit of areaExits; track exit.id;) {
    <app-area-exit [exit]="exit" [isClickable]="
        getIsNearPlayer(exit.x, exit.y) && (exit.lock === '' || !exit.lock)
      " [isNearPlayer]="getIsNearPlayer(exit.x, exit.y)" (onClick)="handleExitClick(exit.id)"
      [isLockedOut]="isLockedOut" />
    }

    <!-- Movement Option Buttons -->
    @for(moveOption of movementOptionsKeys; track moveOption; let idx = $index)
    {
    @if (areaLightMap[moveOption] > 0.1) {
    <app-game-movement-option-button [positionKey]="moveOption" [h]="areaMap[moveOption].h" [isLockedOut]="isLockedOut"
      [playerPosition]="playerPosition" />
    }
    }

    <app-game-player [playerPosition]=" playerPosition" [cellData]="areaMap[playerPosition]"
      [playerFacing]="playerFacing" />
    <div id="game-transition-cover" class="absolute top-0 left-0 w-full h-full bg-gray-800 z-[100] transition-opacity {{
        areaTransitionMode === 'cover' ? 'opacity-100' : 'opacity-0'
      }} pointer-events-none"></div>
    <div class="absolute right-2 top-2 z-[999]">Turns: {{ numTurns }}</div>
  </div>
  }
</div>