.game-area-stage {
  width: 100%;
  max-width: 90vh;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  position: relative;
  :host-context(.full-width) & {
    max-width: none;
    position: absolute;
    width: 100vw;
    bottom: 0;
    transition: bottom 1.5s ease-in-out;
  }

  .stage-base {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 2 / 1;
    path {
      stroke: none;
      stroke-width: 0;
      stroke-linecap: round;
      stroke-dasharray: none;
      stroke-opacity: 1;
    }
    path.outline {
      stroke: none;
      stroke-width: 0;
      fill: var(--color-gray-700);
    }
    path.inner {
      stroke: none;
      stroke-width: 0;
      fill: var(--color-gray-900);
    }
  }
}
