<div class="game-area-stage" [style.bottom]="isFullWidthMode ? fullWidthOffsetY : 0">
  @if(areaMap) {
  <div>
    @for(positionKey of areaDataPositionKeys; track positionKey;) {
    @if(!areaMap[positionKey].isHidden) {
    <app-area-cell [positionKey]="positionKey" [cellData]="areaMap[positionKey]"
      [lightLevel]="areaLightMap[positionKey]" />
    }
    }

    <!-- Area Items -->
    @for(item of areaItems; track item.id;) {
    <app-area-item [item]="item" [isNearPlayer]="getIsNearPlayer(item.x, item.y)" [isLockedOut]="isLockedOut"
      (onClick)="handleItemClick(item.id)" [lightLevel]="getLightLevel(item)" />
    }

    <!-- Area PanelDeco -->
    @for(prop of areaProps; track prop.id;) {
    <app-area-prop [prop]="prop" [isClickable]="false" (onClick)="handlePropClick(prop.id)"
      [isNearPlayer]="getIsNearPlayer(prop.x, prop.y)" [isLockedOut]="isLockedOut" [lightLevel]="getLightLevel(prop)" />
    }

    <!-- Area Exits -->
    @for(exit of areaExits; track exit.id;) {
    <app-area-exit [exit]="exit" [isClickable]="
        getIsNearPlayer(exit.x, exit.y) && (exit.lock === '' || !exit.lock)
      " [isNearPlayer]="getIsNearPlayer(exit.x, exit.y)" (onClick)="handleExitClick(exit.id)"
      [isLockedOut]="isLockedOut" [lightLevel]="getLightLevel(exit)" />
    }

    <!-- Movement Option Buttons -->
    @for(moveOption of movementOptionsKeys; track moveOption; let idx = $index)
    {
    @if (areaLightMap[moveOption] > 0.1) {
    <app-game-movement-option-button [positionKey]="moveOption" [h]="areaMap[moveOption].h" [isLockedOut]="isLockedOut"
      [playerPosition]="playerPosition" />
    }
    }

    <app-game-player [playerPosition]=" playerPosition" [cellData]="areaMap[playerPosition]"
      [playerFacing]="playerFacing" />
    <div id="game-transition-cover" class="absolute top-0 left-0 w-full h-full bg-gray-800 z-[100] duration-300 transition-opacity {{
        areaTransitionMode === 'cover' ? 'opacity-100' : 'opacity-0'
      }} pointer-events-none"></div>
  </div>
  }
</div>