.blue-shine {
  &.wall-position-l {
    .bgRect {
      fill: #132d5a;
    }
    .facet-01 {
      fill: #1a3970;
    }
    .facet-02 {
      fill: #234786;
    }
  }
  &.wall-position-r {
    .bgRect {
      fill: #061c43;
    }
    .facet-01 {
      fill: #10326c;
    }
    .facet-02 {
      fill: #0d2b5e;
    }
  }
}
