<app-svg-shadow></app-svg-shadow>
<svg viewBox="0 0 100 100" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg" class="{{isFlat ? 'flat' : 'isometric'}} {{ variant }}">
  <defs>

  </defs>
  <g>
    <path
      style="fill:#89081d;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 22.645835,58.541663 5,5.000001 45.000001,2e-6 5,-5 v -20 l -5,-5.000001 -45.000001,-1e-6 -5,5 z"
      id="path42" />
    <path
      style="fill:#ca7690;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 22.645835,38.541664 -5,2e-6 10,-10.000001 v 4.999999 z" id="path43" />
    <path
      style="fill:#803441;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 27.645835,28.541666 h 45 v 4.999998 h -45 z" id="path44" />
    <path
      style="fill:#ccafad;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 72.472343,33.541664 v -4.999998 l 10.346986,9.999998 h -5.346986 z" id="path45" />
    <path
      style="fill:#f5e8f8;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 77.645835,38.541668 h 5.000001 v 19.999995 h -5.000001 z" id="path46" />
    <path
      style="fill:#a1727e;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 82.645836,58.541663 72.645835,68.628167 v -5.086503 l 5,-5.000001 z" id="path47" />
    <path
      style="fill:#9d1a2d;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 72.645835,63.541664 h -45 v 5 h 45 z" id="path48" />
    <path
      style="fill:#974e58;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 22.645835,58.541663 h -5 l 10,10.000001 v -5 z" id="path49" />
    <path
      style="fill:#be606c;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 17.645835,38.541666 h 5 v 19.999997 h -5 z" id="path50" />
    <path
      style="fill:#9f3959;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 27.645835,28.541666 V 18.541665 l -20.0000012,20 10.0000012,-1e-6 z" id="path51" />
    <path
      style="fill:#683340;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 27.645835,18.541665 h 45 v 10.000001 h -45 z" id="path52" />
    <path
      style="fill:#59040e;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 72.645836,18.541666 92.645835,38.541665 H 82.645837 L 72.645836,28.541667 Z" id="path53" />
    <path
      style="fill:#7e0013;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 92.645833,38.541668 V 58.541663 H 82.645835 V 38.541668 Z" id="path54" />
    <path
      style="fill:#79252b;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 92.645834,58.541663 72.645835,78.541665 V 68.541662 l 10.000001,-9.999999 z" id="path55" />
    <path
      style="fill:#8d0017;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="m 72.645835,68.541664 v 10.000001 h -45 V 68.541664 Z" id="path56" />
    <path
      style="fill:#5b1a29;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 17.645835,58.541663 H 7.6458338 L 27.645835,78.541665 V 68.541664 Z" id="path57" />
    <path
      style="fill:#6a0b17;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 17.645835,38.541666 V 58.541663 H 7.6458338 V 38.541666 Z" id="path58" />
  </g>

</svg>