<app-svg-shadow></app-svg-shadow>
<svg viewBox="0 0 100 100" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg" class="{{isFlat ? 'flat' : 'isometric'}} {{ variant }}">
  <defs>

  </defs>
  <g>
    <path
      style="display:inline;fill:#529ca0;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 6.3671875,35.470041 30,35.000001 50,90.006984 Z" id="path72" />
    <path
      style="display:inline;fill:#c1dfe3;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 93.632813,35.000001 50,89.999999 69.999999,35.000001 Z" id="path73" />
    <path
      style="display:inline;fill:#8cc5c4;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 30,35.000001 H 69.999999 L 50,89.999999 Z" id="path74" />
    <path
      style="display:inline;fill:#469eaa;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 6.3671875,35.470041 25,15 30,35.000001 Z" id="path75" />
    <path
      style="display:inline;fill:#73b2c8;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 25,15 H 50 L 30,35.000001 Z" id="path76" />
    <path
      style="display:inline;fill:#acd4da;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 50,15 69.999999,35.000001 H 30 Z" id="path77" />
    <path
      style="display:inline;fill:#94bfc0;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 50,15 H 79.632346 L 69.999999,35.000001 Z" id="path78" />
    <path
      style="display:inline;fill:#ebf9f8;fill-opacity:1;stroke:#313131;stroke-width:0;stroke-linecap:round;stroke-linejoin:round;paint-order:stroke fill markers"
      d="M 79.632346,15 93.632813,35.000001 H 69.999999 Z" id="path79" />
  </g>

</svg>