.movement-option-button {
  position: absolute;
  pointer-events: none;
  polygon {
    pointer-events: all;
    /* fill: transparent; */
    /* stroke-width: 2px;
    stroke: transparent; */
    /* transition: 0.3s stroke ease-in-out; */

    /* &:focus,
    &:hover {
      outline: none;
      stroke: var(--color-primary);
    } */
  }
}
