.movement-option-button {
  position: absolute;
  pointer-events: none;
  &.locked-out {
    pointer-events: none;
    opacity: 0.1;
  }
  opacity: 1;
  transition: 0.01s opacity ease-in-out;
  polygon {
    pointer-events: all;
  }
}
