@if(floorType === 'dirt') {
<app-floor-dirt [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'water') {
<app-floor-water [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'stone-dark') {
<app-floor-stone-dark [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'parquet') {
<app-floor-parquet [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'roof') {
<app-floor-roof [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'spikes') {
<app-floor-spikes [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'wall-top') {
<app-floor-wall-top [floorProps]="floorProps" (onClick)="handleClick()" />
} @else if(floorType === 'tile-dark') {
<app-floor-tile-dark [floorProps]="floorProps" (onClick)="handleClick()" />
} @else {
<app-floor-default [floorProps]="floorProps" (onClick)="handleClick()" />
}