@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-headline: 'Arvo', serif;
  --color-primary: #1dce52;
  --color-primary-dark: #068c2e;
  --color-primary-50: rgba(29, 205, 82, 0.5);
  --color-primary-75: rgba(29, 205, 82, 0.75);
  --color-primary-dark: #068c2e;
  --color-primary-dark-50: rgba(6, 140, 46, 0.5);
  --color-secondary: #ecc94b;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-black-75: rgba(0, 0, 0, 0.75);
  --color-white-75: rgba(255, 245, 255, 0.75);
  --color-lock-silver: #999999;
  --color-lock-gold: #cab045;

  --color-error: #bb3b10;
  --color-error-border: #e7b6a6;
  --color-warning: #bb3b10;
  --color-warning-border: #e7b6a6;
  --color-info: #068c2e;
  --color-info-border: #80e19d;
  --color-success: #068c2e;
  --color-success-border: #80e19d;
}

html {
  font-size: 16px;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
  max-width: 100vw;
  overflow-x: hidden;
}

*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

h1 {
  font-family: var(--font-headline);
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-family: var(--font-headline);
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-family: var(--font-headline);
  font-weight: 700;
}

.text-link {
  text-decoration-style: solid;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  &:hover {
    text-decoration-line: underline;
  }
}
.icon-link {
  transition: transform 0.2s ease-in-out;
  transform: scale(1);
  &:hover {
    transform: scale(1.2);
  }
}

label {
  font-weight: 700;
}

.font-primary {
  font-family: var(--font-primary);
}
.font-headline {
  font-family: var(--font-headline);
}

input[type='password'],
input[type='number'],
input[type='text'],
select,
textarea {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-gray-400);
  background-color: transparent;
}
select {
  height: 44px !important;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 100% 50%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.text-1-line-max {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-2-line-max {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-4-line-max {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-content {
  ol {
    list-style-type: decimal;
    padding-left: 1rem;
  }
}

.exit-button {
  fill: transparent;
  outline: none;
  transition: 0.2s all ease-in-out;
  &.clickable {
    cursor: pointer;
    pointer-events: all;

    &.selected {
      fill: var(--color-primary-dark-50);
      stroke-width: 4px;
      stroke: var(--color-primary);
    }

    &:focus {
      stroke: var(--color-white-75);
    }
    &:hover {
      fill: var(--color-primary-75);
    }
    &:active {
      fill: var(--color-primary-dark);
      stroke: white;
    }
  }
}

.game-wrap .exit-button.clickable {
  fill: var(--color-primary-dark-50);
  stroke-width: 4px;
  stroke: var(--color-primary);
}

.toast-container {
  .ngx-toastr {
    border: 2px solid var(--color-gray-100);
    border-radius: 1rem !important;
  }
  .toast-info {
    border-color: var(--color-info-border);
    background-color: var(--color-info);
  }
  .toast-warning {
    border-color: var(--color-warning-border);
    background-color: var(--color-warning);
  }
  .toast-error {
    border-color: var(--color-error-border);
    background-color: var(--color-error);
  }
  .toast-success {
    border-color: var(--color-success-border);
    background-color: var(--color-success);
  }
}

.exit-default-root {
  .arch-bg {
    fill: #cccccc;
  }
  .arch-stones {
    fill: #8a8a8a;
  }
  &.level-exit-svg {
    .arch-bg {
      fill: var(--color-primary);
    }
    .arch-stones {
      fill: var(--color-primary-dark);
    }
  }
  .exit-swirl-exterior {
    fill: var(--color-secondary);
  }
  .exit-swirl-interior {
    fill: var(--color-gray-700);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees rotation */
  }
  100% {
    transform: rotate(360deg); /* Rotate to 360 degrees */
  }
}
