@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-headline: "Arvo", serif;
  --color-primary: #1dce52;
  --color-primary-dark: #068c2e;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
}

*:focus {
  outline: 2px solid var(--color-primary-dark);
  outline-offset: 2px;
}

h1 {
  font-family: var(--font-headline);
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: var(--font-headline);
  font-weight: 700;
}

.text-link {
  &:hover {
    text-decoration: underline;
  }
}
