@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: "Montserrat", sans-serif;
  --font-headline: "Arvo", serif;
  --color-primary: #1dce52;
  --color-primary-dark: #068c2e;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1rem;
  background-color: var(--color-gray-800);
  color: var(--color-gray-300);
}

*:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}

h1 {
  font-family: var(--font-headline);
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: var(--font-headline);
  font-weight: 700;
}

.text-link {
  text-decoration-style: solid;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  &:hover {
    text-decoration-line: underline;
  }
}

label {
  font-weight: 700;
}

input[type="password"],
input[type="number"],
input[type="text"],
select,
textarea {
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-gray-400);
  background-color: transparent;
}
select {
  height: 44px !important;
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+)
    no-repeat 100% 50%;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
