<svg
  viewBox="0 0 100 100"
  version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg"
  [class]="isFlat ? 'flat' : 'isometric'"
>
  <defs>
    <linearGradient id="gradientItemCoins01">
      <stop
        style="stop-color: #f3bf11; stop-opacity: 1"
        offset="0.16369711"
        id="stop12"
      />
      <stop
        style="stop-color: #e8e3a3; stop-opacity: 1"
        offset="0.8040089"
        id="stop14"
      />
    </linearGradient>
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins12"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins11"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins10"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins09"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins08"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins07"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins06"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
      gradientUnits="userSpaceOnUse"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins05"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins04"
      gradientUnits="userSpaceOnUse"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins03"
      gradientUnits="userSpaceOnUse"
      x1="54"
      y1="21"
      x2="54"
      y2="10"
    />
    <linearGradient
      xlink:href="#gradientItemCoins01"
      id="gradientItemCoins02"
      gradientUnits="userSpaceOnUse"
      x1="28.000237"
      y1="24.000118"
      x2="71.999863"
      y2="24.000118"
    />
  </defs>
  <g id="coins">
    <g id="g17" transform="translate(8.3000004,53.931021)">
      <path
        id="path17"
        style="
          fill: url(#gradientItemCoins02);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
    </g>
    <g id="g15" transform="translate(8.3000004,46.931021)">
      <path
        id="path10"
        style="
          fill: url(#gradientItemCoins12);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
    </g>
    <g id="g15-6" transform="translate(8.3000004,38.931021)">
      <path
        id="path10-53"
        style="
          fill: url(#gradientItemCoins08);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
      <ellipse
        style="
          font-variation-settings: normal;
          opacity: 1;
          fill: url(#gradientItemCoins07);
          fill-opacity: 1;
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
          -inkscape-stroke: none;
          paint-order: stroke fill markers;
          stop-color: #000000;
          stop-opacity: 1;
        "
        id="path10-5-85"
        cx="50"
        cy="15"
        rx="20"
        ry="7.5"
      />
    </g>
    <g id="g15-1" transform="translate(15.299951,27.931257)">
      <path
        id="path10-0"
        style="
          fill: url(#gradientItemCoins11);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
    </g>
    <g id="g15-9" transform="translate(15.300089,20.431338)">
      <path
        id="path10-8"
        style="
          fill: url(#gradientItemCoins10);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
      <ellipse
        style="
          font-variation-settings: normal;
          opacity: 1;
          fill: url(#gradientItemCoins09);
          fill-opacity: 1;
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
          -inkscape-stroke: none;
          paint-order: stroke fill markers;
          stop-color: #000000;
          stop-opacity: 1;
        "
        id="path10-5-4"
        cx="50"
        cy="15"
        rx="20"
        ry="7.5"
      />
    </g>
    <g id="g15-9-7" transform="translate(10,12.5)">
      <path
        id="path10-8-9"
        style="
          fill: url(#gradientItemCoins06);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
      <ellipse
        style="
          font-variation-settings: normal;
          opacity: 1;
          fill: url(#gradientItemCoins05);
          fill-opacity: 1;
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
          -inkscape-stroke: none;
          paint-order: stroke fill markers;
          stop-color: #000000;
          stop-opacity: 1;
        "
        id="path10-5-4-5"
        cx="50"
        cy="15"
        rx="20"
        ry="7.5"
      />
    </g>
    <g id="g16" transform="rotate(-53.385954,82.842664,63.556205)">
      <path
        id="path15"
        style="
          fill: url(#gradientItemCoins04);
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-opacity: 1;
          paint-order: stroke fill markers;
        "
        d="m 30.000236,18 v 4.499919 c -4.67e-4,4.142232 8.953861,7.500278 19.999813,7.500317 11.045952,-3.9e-5 20.00028,-3.358085 19.999813,-7.500317 V 18 Z"
      />
      <ellipse
        style="
          font-variation-settings: normal;
          opacity: 1;
          fill: url(#gradientItemCoins03);
          fill-opacity: 1;
          stroke: #8a7519;
          stroke-width: 4;
          stroke-linecap: square;
          stroke-linejoin: miter;
          stroke-miterlimit: 4;
          stroke-dasharray: none;
          stroke-dashoffset: 0;
          stroke-opacity: 1;
          -inkscape-stroke: none;
          paint-order: stroke fill markers;
          stop-color: #000000;
          stop-opacity: 1;
        "
        id="ellipse15"
        cx="50"
        cy="15"
        rx="20"
        ry="7.5"
      />
    </g>
  </g>
</svg>
