<div class="grid grid-cols-7 gap-1 w-full max-w-[340px] mx-auto" [id]="id">
  @for(positionKey of areaDataPositionKeys; track positionKey;) {
  <button
    role="button"
    type="button"
    class="rounded-full aspect-square transition-colors duration-300 bg-gray-500"
    (click)="handleCellButtonClick(positionKey)"
    [attr.aria-label]="positionKey.replace('_', ', ')"
  >
    <svg
      viewBox="0 0 100 100"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <circle
        cx="50"
        cy="50"
        r="90"
        fill="none"
        stroke="var(--color-gray-300)"
        stroke-width="2"
      />
      <circle cx="50" cy="50" r="40" fill="var(--color-gray-900)" />
      <circle
        cx="50"
        cy="50"
        r="25"
        [attr.fill]="
          selectedCellPosition === positionKey
            ? 'var(--color-gray-300)'
            : 'var(--color-gray-900)'
        "
      />
    </svg>
  </button>
  }
</div>
