.cell-selector-button {
  position: relative;
  width: 32px;
  height: 32px;
  &:after {
    content: "";
    position: absolute;
    top: -6px;
    left: -6px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.2s;
  }
}
