<section>
  <button
    (click)="toggleIsOpen()"
    class="w-full flex flex-row justify-between items-center rounded-md"
  >
    <h2>{{ title }}</h2>
    <div class="flex-grow relative w-8 h-8 flex flex-row justify-end">
      <div
        class="relative w-8 h-8 {{
          isOpen ? 'rotate-0' : 'rotate-180'
        }} transition-all duration-300"
      >
        <svg
          viewBox="0 0 100 100"
          version="1.1"
          id="svg1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:svg="http://www.w3.org/2000/svg"
          class="w-full h-full"
        >
          <path
            style="fill: var(--color-gray-300)"
            d="M 5,95.000001 50,5 95.000001,95.000001 50,75.000001 Z"
          />
        </svg>
      </div>
    </div>
  </button>
  @if(isOpen) {
  <div>
    <ng-content />
  </div>
  }
</section>
