<app-main-layout [title]="title">
  <div class="my-8 min-h-[50vh] flex flex-col gap-8">
    <app-container>
      @if(isLoading) {
      <div class="columns-1 md:columns-2 gap-4">
        <app-skeleton-text [width]="100" />
        <app-skeleton-text [width]="100" />
        <app-skeleton-text [width]="100" />
        <app-skeleton-text [width]="40" />
      </div>

      } @else {
      <div class="columns-1 md:columns-2 gap-4">
        {{ description }}
      </div>
      }
    </app-container>
    <div class="game-wrap">
      <app-game-area />
    </div>
  </div>
</app-main-layout>
