<app-main-layout [title]="title">
  <div class="my-8 min-h-[50vh] flex flex-col gap-8">
    <div class="game-wrap">
      @if(!isLoading) {
      <div>
        <app-game-area />
        <div class="absolute bottom-0 right-0 flex flex-row gap-4">
          <app-icon-button
            size="md"
            icon="info"
            (onButtonClick)="handleInfoClick()"
          />
          <app-icon-button
            size="md"
            icon="help"
            (onButtonClick)="handleHelpClick()"
          />
        </div>
      </div>
      }

      <!-- Modal: Inventory Detail -->
      <!-- Modal: Converstion -->
      @if(['loading', 'intro', 'help'].includes(pageModalStatus)) {
      <app-modal-page
        [isLoading]="isLoading"
        [title]="title"
        [pageModalStatus]="pageModalStatus"
        [introParagraphs]="introParagraphs"
        (onConfirm)="handlePageModalConfirm()"
        (onClose)="handlePageModalConfirm()"
      />
      }
    </div>
  </div>
</app-main-layout>
