.button-root {
  position: relative;
  border-radius: 100%;

  border: 2px solid var(--color-primary);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--color-primary-dark);
  &.danger {
    background-color: #990000;
    border-color: #dd3333;
  }
  &.secondary {
    background-color: #444;
    border-color: #666;
  }
  transition: 0.2s all ease-in-out;

  &:after {
    display: block;
    content: " ";
    position: absolute;
    top: -8px;
    left: -8px;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: transparent;
    /* z-index: -1; */
    pointer-events: all;
  }
  &:hover {
    transform: scale(0.9);
    border-width: 6px;
    border-color: var(--color-gray-300);
  }

  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    background-color: var(--color-gray-500);
    color: var(--color-gray-300);
    &:hover {
      transform: scale(1);
      border-width: 2px;
      border-color: inherit;
    }
  }
  &:active {
    background-color: var(--color-gray-700);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(2px, 2px);
  }
}
