<app-collapsible-card title="Actors" [isCollapsible]="false" [showNewButton]="true"
  (onNewButtonClick)="handleCreateClick()">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">

      <div class="flex flex-col gap-4">
        @if(actors.length < 1) { <div>No actors. <i>(Not a Sartre reference).</i></div>
      } @for(actor of actors; track actor.id; let idx = $index) {
      <div class="rounded-md flex flex-row items-center p-2 {{
            selectedActorId === actor.id ? 'bg-green-900' : 'bg-gray-800'
          }}">
        <div class="flex-grow">
          @if(actor.name) {
          {{actor.name}}
          } @else {
          Actor #{{ idx + 1 }} - X:{{ actor.x }}, Y:{{ actor.y }}
          }
        </div>
        <div class="flex flex-row gap-2">
          <app-icon-button icon="edit" label="Edit Actor" (click)="handleEditClick(actor.id)" />
          <app-icon-button icon="delete" theme="danger" label="Delete Actor" (click)="handleDeleteClick(actor.id)" />
        </div>
      </div>
      }
    </div>
  </div>
  @if (selectedActorId) {
  <div class="flex flex-col gap-4">
    <div>
      <label for="prop-name-input">Actor Name</label>
      <input id="popinput" [(ngModel)]="inputActorName" type="text" maxlength="100" class="text-input"
        (change)="handleActorInputChange()" />
    </div>
    <div>
      <label>Position: </label>
      <app-area-cell-selector id="editor-cell-selector" [selectedCellPosition]="inputActorPosition"
        (onPositionSelect)="handlePositionSelect($event)" [lockouts]="lockouts" />
    </div>
    <div>
      <label for="actor-type-selector">Actor Type</label>
      <select id="actor-type-selector" [(ngModel)]="inputActorType" (change)="handleActorInputChange()">
        @for(item of actorTypeOptions; track item.value) {
        <option [value]="item.value">{{ item.label }}</option>
        }
      </select>
    </div>
    <div>
      <div class="flex flex-col gap-4">
        <app-editor-input-actions [actions]="inputActions" (onActionsChange)="handleActorActionInputChange($event)"
          title="Actions" selectedAreaId="na" />
      </div>
    </div>

  </div>
  }
  </div>
</app-collapsible-card>